<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="PaymentResponseUrlKey" value="http://localhost:64174/Pay"/>
    <add key ="PaymentConfirmationUrlKey" value="http://localhost:64174/Pay"/>
    <add key ="PaymentSubmitUrlKey" value="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/"/>
  </appSettings>
</configuration>
